.headerContainer {
    height: 5rem;
    border-bottom: 1px solid var(--gray-800);
}

.headerContent {
    height: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem; 

    display: flex;
    align-items: center;
    // justify-content: space-between;

    nav {
        height: 100%;
        margin-left: 5rem;
    
        a {
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            
            height: 100%;
            line-height: 5rem;
            color: var(--gray-300);

            transition: all .2s;

            & + a {
                margin-left: 2rem;
            }

            &:hover {
                color: var(--white);
            }

            &.active {
                color: var(--white);
                font-weight: bold;
            }

            &.active::after {
                content: '';
                height: 3px;
                width: 100%;
                border-radius: 3px 3px 0 0;
                background-color: var(--yellow-500);
                position: absolute;
                // posicionando em baixo essa barrinha branca
                bottom: 1px;
                left: 0;
            }
        }
    }

    button {
        margin-left: auto
        // sempre tentará colocar  a maior margin possível
        // só lembrando esta pondo a margin à esquerda do botão de SignIn no contexto do header para que se evite de
        // colocar essa margin nos css do botão, pois caso ele for usado em outro componente, teria essa margin atrapalhando;
    }

}
