* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #04D361;
    background-color: #0D1117;
}

